@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #fff;
}

/* Outer Glow */
.glow {
  box-shadow: 0 0 15px 5px rgb(158, 79, 222, 0.5);
  transition: all;
  transition-duration: 0.5s;
}

button.glow:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #9d4edd;
  border-radius: 50px;
}
